# nix shell
*.nix

# Ambientes virtuais
.venv/
venv/

# Python cache
app/__pycache__/
__pycache__/
*.pyc

# Banco de dados local
*.db

# Ficheiro de ambiente (contém passwords)
.env

#chaves de assinar
*.pem