<!doctype html>
<html class="h-full bg-gray-900">

<head>
    <title>Recuperar Password</title>
    <link href="{{ url_for('static', filename='css/input.css') }}" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{{ url_for('static', filename='js/toast.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/registo.js') }}" type="module" defer></script>
</head>

<body class="h-full">
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img src="{{ url_for('static', filename='imagens/iconFundo.png') }}" alt="logo"
                class="mx-auto h-12 w-auto" />
            <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
            <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-white">
                Recover your password
            </h2>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <form id="registo-form" action="#" method="POST" class="space-y-6">
                <div>
                    <label for="email" class="block text-sm/6 font-medium text-gray-100">Email Address</label>
                    <div class="mt-2">
                        <input id="email" type="email" name="email" required autocomplete="email"
                            class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" />
                    </div>
                </div>

                <button type="submit"
                    class="flex w-full justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
                    Send Recovery Email
                </button>
        </div>
        </form>

        <p class="mt-10 text-center text-sm/6 text-gray-400">
            Return to
            <a href="{{ url_for('login')}}" class="font-semibold text-indigo-400 hover:text-indigo-300">Login</a>
        </p>
    </div>
    </div>
    <script>
        document.getElementById("registo-form").addEventListener("submit", async (e) => {
            e.preventDefault();

            const email = document.getElementById("email").value;

            const res = await fetch("/auth/request-reset", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ email })
            });

            const data = await res.json();
            alert(data.message || data.error);
        });
    </script>
</body>

</html>