<!doctype html>
<html class="h-full bg-gray-900">
  <head>
    <title>New Password</title>
    <link
      href="{{ url_for('static', filename='css/input.css') }}"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="{{ url_for('static', filename='js/toast.js') }}"
      defer
    ></script>
    <script
      src="{{ url_for('static', filename='js/registo.js') }}"
      defer
    ></script>
  </head>

  <body class="h-full">
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img
          src="{{ url_for('static', filename='imagens/iconFundo.png') }}"
          alt="logo"
          class="mx-auto h-12 w-auto"
        />
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
        <h2
          class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-white"
        >
          New Password
        </h2>
      </div>

      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form id="registo-form" action="#" method="POST" class="space-y-6">
          <div>
            <label
              for="password"
              class="block text-sm/6 font-medium text-gray-100"
              >Password</label
            >
            <div class="mt-2">
              <input
                id="password"
                type="password"
                name="password"
                required
                autocomplete="new-password"
                class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6"
              />
            </div>
          </div>
          <div>
            <label
              for="confirmpassword"
              class="block text-sm/6 font-medium text-gray-100"
              >Confirm Password</label
            >
            <div class="mt-2">
              <input
                id="confirmpassword"
                type="password"
                name="confirmpassword"
                required
                autocomplete="new-password"
                class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6"
              />
            </div>
          </div>
          <div>
            <button
              type="submit"
              class="flex w-full justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
            >
              Reset Password
            </button>
          </div>
        </form>
      </div>
    </div>
    <script>
      const params = new URLSearchParams(window.location.search);
      const token = params.get("token");

      document
        .getElementById("registo-form")
        .addEventListener("submit", async (e) => {
          e.preventDefault();

          const password = document.getElementById("password").value;
          const confirm = document.getElementById("confirmpassword").value;

          if (password !== confirm) {
            alert("Passwords não coincidem");
            return;
          }

          const res = await fetch("/auth/reset-password", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              token: token,
              password: password,
            }),
          });

          const data = await res.json();
          alert(data.message || data.error);
        });
    </script>
  </body>
</html>
