{% extends "navbar.html" %} {% block content %}

<!doctype html>
<html class="h-full bg-gray-900">

<head>
  <title>SAFE-DEPOSIT-BOX</title>
  <link href="{{ url_for('static', filename='css/input.css') }}" rel="stylesheet" />
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="{{ url_for('static', filename='js/toast.js') }}" defer></script>
</head>

<body class="h-full">

  <div class="bg-gray-900">
    <div class="relative isolate px-6 lg:px-8 pointer-events-none">
      <div aria-hidden="true"
        class="absolute inset-x-0 -top-20 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-40">
        <div
          style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
          class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[144.5rem] -translate-x-1/2 rotate-30 bg-gradient-to-tr from-[#a880ff] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[288.75rem]">
        </div>
      </div>
      <div class="mx-auto max-w-2xl py-14 sm:py-37 lg:py-34">
        <div class="hidden sm:mb-8 sm:flex sm:justify-center">
          <div class="relative rounded-full px-3 py-1 text-sm/6 text-gray-400 ring-1 ring-white/10 hover:ring-white/20 text-indigo-500">
            Security · Encryption · Integrity</a>
          </div>
        </div>
        <div class="text-center">
          <h1 class="text-5xl font-semibold tracking-tight text-balance text-white sm:text-7xl">SAFE-DEPOSIT-BOX</h1>
          <p class="mt-7 text-lg font-medium text-pretty text-gray-400 sm:text-xl/8">Web application for storing
            messages in encrypted safes
            using modern mechanisms of confidentiality, integrity, and authentication.</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">

            <!-- Features -->
            <div class="mx-auto mt-14 grid max-w-5xl grid-cols-1 gap-6 lg:grid-cols-1">

              <div class="grid max-w-5xl grid-cols-1 gap-6 lg:grid-cols-1">
                <div class="mb-4 flex items-center gap-3">
                  <h2 class="text-3xl font-semibold tracking-tight text-indigo-500">
                    Quick Flow
                  </h2>
                </div>
                <div class="grid grid-cols-1 gap-4 lg:grid-cols-1">
                  <div class="mt-4 flex flex-col items-center justify-center gap-6 text-center lg:flex-row lg:text-left">

                    <div class="rounded-2xl bg-white/5 px-6 py-5 ring-1 ring-white/10 backdrop-blur-sm">
                      <p class="text-base font-medium text-white">
                        1. Deposit a message.
                      </p>
                    </div>

                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                      stroke="currentColor" class="hidden size-6 text-gray-400 lg:block">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg>

                    <div class="rounded-2xl bg-white/5 px-6 py-5 ring-1 ring-white/10 backdrop-blur-sm">
                      <p class="text-base font-medium text-white">
                        2. Keep the returned secret.
                      </p>
                    </div>

                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                      stroke="currentColor" class="hidden size-6 text-gray-400 lg:block">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg>

                    <div class="rounded-2xl bg-white/5 px-6 py-5 ring-1 ring-white/10 backdrop-blur-sm">
                      <p class="text-base font-medium text-white">
                        3. Open the safe with the ID and the secret.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-20 rounded-3xl bg-white/5 p-6 ring-1 ring-white/10 backdrop-blur-sm shadow-2xl shadow-indigo-500/10 text-left">
                <div class="mb-8 flex items-center gap-3">
                  <h2 class="text-3xl font-semibold tracking-tight text-indigo-500">
                    Security Features
                  </h2>
                </div>
                <div class="grid grid-cols-1 gap-4 lg:grid-cols-1">

                  <h3 class="mt-4 text-lg font-semibold text-indigo-400">
                    Protection Methods
                  </h3>

                  <p class="text-sm leading-7 text-gray-300">
                    Random symmetric key, password derived with a secure algorithm, or RSA asymmetric encryption.
                  </p>

                  <h3 class="mt-4 text-lg font-semibold text-indigo-400">
                    Symmetric Ciphers
                  </h3>

                  <p class="text-sm leading-7 text-gray-300">
                    AES-256-CBC, AES-256-CTR and ChaCha20.
                  </p>

                  <h3 class="mt-4 text-lg font-semibold text-indigo-400">
                    Asymmetric Encryption
                  </h3>

                  <p class="text-sm leading-7 text-gray-300">
                    RSA for generating public/private key pairs.
                  </p>

                  <h3 class="mt-4 text-lg font-semibold text-indigo-400">
                    Integrity
                  </h3>

                  <p class="text-sm leading-7 text-gray-300">
                    HMAC-SHA256 or HMAC-SHA512 over the ciphertext.
                  </p>

                  <h3 class="mt-4 text-lg font-semibold text-indigo-400">
                    Digital Signature
                  </h3>

                  <p class="text-sm leading-7 text-gray-300">
                    RSA-PSS over the plaintext before encryption.
                  </p>

                  <h3 class="mt-4 text-lg font-semibold text-indigo-400">
                    Automatic Verifications
                  </h3>

                  <p class="mb-5 text-sm leading-7 text-gray-300">
                    HMAC validation and digital signature verification upon opening the safe.
                  </p>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>

</body>

</html>

{% endblock %}