<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAFE-DEPOSIT-BOX</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/input.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navstyles.css') }}" />
    <script src="{{ url_for('static', filename='js/usericon.js') }}" defer></script>
    {% block scripts %}{% endblock %}
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <div class="nav-wrapper">

                <div class="mobile-menu-toggle">
                    <button type="button" aria-label="Open main menu" id="menu-button">
                        <svg class="icon-open" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5">
                            <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </button>
                </div>

                <div class="nav-main">
                    <div class="logo">
                        <img src="{{ url_for('static', filename='imagens/iconFundo.png') }}" alt="logo">
                    </div>
                    <ul class="nav-links">
                        <li><a href="{{ url_for('index') }}" class="nav-item">Home</a></li>
                        <li><a href="{{ url_for('deposit') }}" class="nav-item">Create Message</a></li>
                        <li><a href="{{ url_for('open_vault') }}" class="nav-item">Open Vault</a></li>
                    </ul>
                </div>

                <div class="nav-actions">
                    <button type="button" class="notif-btn" aria-label="View notifications">
                        <svg class="icon-bell" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5">
                            <path
                                d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>

                    <div class="profile-dropdown">
                        <button class="profile-btn" id="user-menu-button">
                            <div class="avatar-placeholder"></div>
                        </button>
                        <div class="dropdown-menu" id="user-menu">
                            <a href="#">Your profile</a>
                            <a href="#">Settings</a>
                            <a href="#">Sign out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mobile-nav-content" id="mobile-menu" hidden>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('deposit') }}">Message</a>
            <a href="{{ url_for('open_vault') }}">Open Vault</a>
            <a href="#" class="user-link">Profile
                <div class="panel">
                    <p><a href="#">Your profile</a></p>
                    <p><a href="#">Settings</a></p>
                    <p><a href="#">Sign out</a></p>
                </div>
            </a>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <main class="main-content">
    </main>

</body>

</html>