{% extends "navbar.html" %}

{% block content %}

<!DOCTYPE html>
<html class="h-full bg-gray-900">

<head>
    <title>New Message</title>
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{{ url_for('static', filename='js/toast.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/new_message.js') }}" defer></script>
</head>

<body class="h-full">
    <div th:replace="base :: base"></div>

    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 py-8">
        <!-- Include this script tag or install `@tailwindplus/elements` via npm: -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script> -->
        <form>
            <div class="space-y-12">
                <div class="border-b border-white/10 pb-12">
                    <h1 class="text-3xl font-semibold text-white">Create Message</h1>
                    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                        <div class="sm:col-span-4">
                            <label for="title" class="block text-14sm font-medium text-white">Title</label>
                            <div class="mt-2">
                                <div
                                    class="flex items-center rounded-md bg-white/5 pl-3 outline-1 -outline-offset-1 outline-white/10 focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-500">
                                    <div class="shrink-0 text-base text-gray-400 select-none sm:text-sm/10">
                                    </div>
                                    <input id="title" type="text" name="title" placeholder=""
                                        class="block min-w-0 grow bg-transparent py-1.5 pr-3 pl-1 text-base text-white placeholder:text-gray-500 focus:outline-none sm:text-sm/6"
                                        required />
                                </div>
                            </div>
                        </div>

                        <div class="col-span-full">
                            <label for="message" class="block text-sm font-medium text-white">Message</label>
                            <div class="mt-2">
                                <textarea id="message" name="message" rows="10"
                                    placeholder="Write your message here to store in the vault..."
                                    class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6"
                                    required></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="border-b border-white/10 pb-12">
                    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                        <div class="col-span-full">
                            <label for="method" class="block text-sm/6 font-medium text-white">Protection Method</label>
                            <div class="mt-2 grid grid-cols-1">
                                <select id="method" name="method" autocomplete="method-name"
                                    class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white/5 py-1.5 pr-8 pl-3 text-base text-white outline-1 -outline-offset-1 outline-white/10 *:bg-gray-800 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6"
                                    required>
                                    <option value="random-key">Symmetric Cipher </option>
                                    <option value="rsa">RSA (system generates key pair)</option>
                                </select>
                                <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true"
                                    class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-400 sm:size-4">
                                    <path
                                        d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z"
                                        clip-rule="evenodd" fill-rule="evenodd" />
                                </svg>
                            </div>
                        </div>
                        <div class="col-span-full">
                            <div class="mt-6 space-y-10">
                                <div id="whichKeyDiv">
                                    <fieldset>
                                        <legend class="text-sm/6 font-semibold text-white">Queres usar uma chave publica
                                            nova?</legend>
                                        <div class="mt-6 space-y-6">
                                            <div class="flex items-center gap-x-3">
                                                <input id="yes_nova" value="yes_nova" type="radio" name="rsa_key_type"
                                                    required
                                                    class="relative size-4 appearance-none rounded-full border border-white/10 bg-white/5 before:absolute before:inset-1 before:rounded-full before:bg-white not-checked:before:hidden checked:border-indigo-500 checked:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 ... " />
                                                <label for="yes_nova"
                                                    class="block text-sm/6 font-medium text-white">Sim.</label>
                                            </div>
                                            <div class="flex -items-center gap-x-3">
                                                <input id="no_antiga" value="no_antiga" type="radio" name="rsa_key_type"
                                                    required
                                                    class="relative size-4 appearance-none rounded-full border border-white/10 bg-white/5 before:absolute before:inset-1 before:rounded-full before:bg-white not-checked:before:hidden checked:border-indigo-500 checked:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 ... " />
                                                <label for="no_antiga"
                                                    class="block text-sm/6 font-medium text-white">Não. (Quero usar a
                                                    chave publica que foi gerada automaticamente no registo.)</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                                <div id="algSimDiv" class="col-span-full">
                                    <label for="algSim_bits" class="block text-sm/6 font-medium text-white">Algoritmo de
                                        Cifra Simétrica</label>
                                    <div class="mt-2 grid grid-cols-1">
                                        <select id="algSim_bits" name="algSim_bits" autocomplete="algSim_bits-name"
                                            class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white/5 py-1.5 pr-8 pl-3 text-base text-white outline-1 -outline-offset-1 outline-white/10 *:bg-gray-800 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6"
                                            required>
                                            <option value="AES-256-CBC">AES-256-CBC</option>
                                            <option value="AES-256-CTR">AES-256-CTR</option>
                                            <option value="ChaCha20">ChaCha20</option>
                                        </select>
                                        <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true"
                                            class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-400 sm:size-4">
                                            <path
                                                d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z"
                                                clip-rule="evenodd" fill-rule="evenodd" />
                                        </svg>
                                    </div>
                                </div>
                                <div id="chosenRandDiv">
                                    <fieldset>
                                        <legend class="text-sm/6 font-semibold text-white">Queres usar uma chave
                                            aleatória?</legend>
                                        <div class="mt-6 space-y-6">
                                            <div class="flex items-center gap-x-3">
                                                <input id="passRand" value="passRand" type="radio"
                                                    name="symmetric_key_source" required
                                                    class="relative size-4 appearance-none rounded-full border border-white/10 bg-white/5 before:absolute before:inset-1 before:rounded-full before:bg-white not-checked:before:hidden checked:border-indigo-500 checked:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 ... " />
                                                <label for="passRand"
                                                    class="block text-sm/6 font-medium text-white">Sim.</label>
                                            </div>
                                            <div class="flex -items-center gap-x-3">
                                                <input id="passChosen" value="passChosen" type="radio"
                                                    name="symmetric_key_source" required
                                                    class="relative size-4 appearance-none rounded-full border border-white/10 bg-white/5 before:absolute before:inset-1 before:rounded-full before:bg-white not-checked:before:hidden checked:border-indigo-500 checked:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 ... " />
                                                <label for="passChosen"
                                                    class="block text-sm/6 font-medium text-white">Não. (Quero usar uma
                                                    password escolhida por mim.)</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                                <div id="passDiv" class="col-span-full">
                                    <label for="pass" class="block text-sm/6 font-medium text-white"
                                        required>Password</label>
                                    <div class="mt-2">
                                        <input id="pass" type="text" name="pass" autocomplete="pass"
                                            class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" />
                                    </div>
                                </div>
                                <div id="rsaDiv" class="col-span-full">
                                    <label for="rsa_bits" class="block text-sm/6 font-medium text-white">RSA
                                        Size</label>
                                    <div class="mt-2 grid grid-cols-1">
                                        <select id="rsa_bits" name="rsa_bits" autocomplete="rsa_bits-name"
                                            class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white/5 py-1.5 pr-8 pl-3 text-base text-white outline-1 -outline-offset-1 outline-white/10 *:bg-gray-800 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6"
                                            required>
                                            <option value="2048">2048</option>
                                            <option value="3072">3072</option>
                                            <option value="4096">4096</option>
                                        </select>
                                        <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true"
                                            class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-400 sm:size-4">
                                            <path
                                                d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z"
                                                clip-rule="evenodd" fill-rule="evenodd" />
                                        </svg>
                                    </div>
                                </div>

                                <fieldset>
                                    <legend class="text-sm/6 font-semibold text-white">HMAC's Hash</legend>
                                    <div class="mt-6 space-y-6">
                                        <div class="flex items-center gap-x-3">
                                            <input id="hmac_sha256" value="sha256" type="radio" name="sig_hash" required
                                                class="relative size-4 appearance-none rounded-full border border-white/10 bg-white/5 before:absolute before:inset-1 before:rounded-full before:bg-white not-checked:before:hidden checked:border-indigo-500 checked:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 ... " />
                                            <label for="hmac_sha256"
                                                class="block text-sm/6 font-medium text-white">SHA256</label>
                                        </div>
                                        <div class="flex items-center gap-x-3">
                                            <input id="hmac_sha512" value="sha512" type="radio" name="sig_hash" required
                                                class="relative size-4 appearance-none rounded-full border border-white/10 bg-white/5 before:absolute before:inset-1 before:rounded-full before:bg-white not-checked:before:hidden checked:border-indigo-500 checked:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 ... " />
                                            <label for="hmac_sha512"
                                                class="block text-sm/6 font-medium text-white">SHA512</label>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend class="text-sm/6 font-semibold text-white">Hash Signature</legend>
                                    <div class="mt-6 space-y-6">
                                        <div class="flex items-center gap-x-3">
                                            <input id="sig_sha256" value="sha256" type="radio" name="hash_signature"
                                                required
                                                class="relative size-4 appearance-none rounded-full border border-white/10 bg-white/5 before:absolute before:inset-1 before:rounded-full before:bg-white not-checked:before:hidden checked:border-indigo-500 checked:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 ... " />
                                            <label for="sig_sha256"
                                                class="block text-sm/6 font-medium text-white">sha256</label>
                                        </div>
                                        <div class="flex items-center gap-x-3">
                                            <input id="sig_sha512" value="sha512" type="radio" name="hash_signature"
                                                required
                                                class="relative size-4 appearance-none rounded-full border border-white/10 bg-white/5 before:absolute before:inset-1 before:rounded-full before:bg-white not-checked:before:hidden checked:border-indigo-500 checked:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 ... " />
                                            <label for="sig_sha512"
                                                class="block text-sm/6 font-medium text-white">sha512</label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="mt-6 flex items-center justify-end gap-x-6">
                    <a href="{{ url_for('deposit') }}"
                        class="text-sm font-semibold text-white hover:text-gray-300">Cancel</a>
                    <button id="createVault" type="submit"
                        class="rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Save</button>
                </div>
        </form>
    </div>
</body>

</html>
{% endblock %}